/* GLOBAL STYLES */
* {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}
*::selection {
  background: #dfe6e9;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  /* max-height: 100vh; */
  overflow: hidden;
}
html {
  background-color: #f1f2f6;
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.hidden {
  display:none;
}
.mobile-img img {
  height:62.5%;
  position: absolute;
  bottom:30%;
  right:2%;
  z-index: 400;
  animation-delay: .65s;
  display:none;
}
.mobile-logo {
  position: absolute;
  top:3%;
  left: 2%;
  font-weight: 400;
  font-size: 1.05rem;
  border: 1.45px solid #2f3542;
  padding: 4px;
  border-radius: 100%;
  display:none;
}

/* MODAL START */
.modal {
  width: 500px;
  height: 100px;
  overflow:hidden;
  background: #1f232c;
  border-radius: 10px;
  position:fixed;
  bottom: -300px;
  right:20px;
  z-index: 2000;
  transition: 1s;
}
.modal .content {
  padding: 20px;
  box-sizing: border-box;
  float:left;
  color: #f1f2f6;
  letter-spacing: .75px;
}
.modal .content #thanks {
  font-weight: 800;
  font-size: 1.25rem;
}
.modal .content #email {
  font-weight: 300;
  font-size: 1.1rem;
}
/* MODAL END */

/* MAIN STYLING START */
.main {
  height:100vh;
  max-width:100vw;
  /* background-color: #f1f2f6; */
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}
.back-text {
  position: absolute;
  left: 50%;
  top: 22.5%;
  transform: translate(-50%, -50%);
  z-index: 100;
  font-size: 11.5vw;
  letter-spacing: -1vw;
  color: #ffffff;
  /* animation-delay: 3.7s; */
}
.back-text h1 {
  opacity: .215;
  text-shadow: 6px 15px 35px rgba(122, 122, 122, 0.375);
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
   -khtml-user-select: none; 
     -moz-user-select: none; 
      -ms-user-select: none;
          user-select: none; 
}
.main-intro {
  height:100%;
  width:100%;
  z-index: 500;
  display:flex;
  flex-direction: column;
  color: #2f3542;
  position: absolute;
  top: 46%;
  left: 10%;
  padding:50px;
}
.main-intro .name {
  font-weight: 400;
  letter-spacing: 4px;
  margin-bottom: 20px;
  animation: slideUp;
  animation-fill-mode: both;
  animation-delay: 1.9s;
  animation-duration: .5s;
}
.main-intro h1 {
  font-weight: 800;
  font-size: 4.45rem;
  line-height: 92.5%;
  animation: slideUp;
  animation-fill-mode: both;
  animation-delay: 2.05s;
  animation-duration: .5s;
}
.main-intro .para {
  color: #7f8fa6;
  width: 32.5%;
  margin-top: 25px;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: 0;
  margin-bottom: 25px;
  animation: slideUp;
  animation-fill-mode: both;
  animation-delay: 2.3s;
  animation-duration: .5s;
}
.main-intro .cta {
  font-size: 1.1rem;
  animation: slideUp;
  animation-fill-mode: both;
  animation-delay: 2.55s;
  animation-duration: .5s;
}
.cta .left {
  margin-right:10px;
}
.cta .middle {
  margin: 0 10px;
}
.cta .right {
  margin-left: 10px;
}
.main-intro .cta span {
  font-weight: 800;
  cursor: pointer;
  transition: .25s all ease;
}
.main-intro .cta span:hover {
  text-decoration: underline;
}
.main-img {
  height:100%;
  width:100%;
  overflow: hidden;
}
.main-img img {
  height:95%;
  position: absolute;
  bottom:0;
  right:8.5%;
  z-index: 1000;
  animation-delay: 1.45s;
  animation-duration: 1.85s;
  /* opacity: .85; */
}
.main .fa:hover, #burg {
  color: #1f232c;
  cursor: pointer;
  transition: .2s color ease;
}
.main .fa-angle-double-down {
  position: absolute;
  font-size: 2.5rem;
  left: 50%;
  top: 92.5%;
  transform: translate(-50%, -50%);
  animation: slideUp;
  animation-fill-mode: both;
  animation-delay: 2.65s;
  animation-duration: .5s;
  color: #ebbe1e;
  z-index:1000;
}
#burg {
  color: #2f3542;
  position:fixed;
  font-size: 1.75rem;
  right: 3%;
  top: 3%;
  z-index:1100;
  /* animation-delay: 5.65s;
  animation-duration: .5s; */
}
/* MAIN STYLING END */

/* TEXT INTRO */
.text-intro {
  display:flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
  padding: 55px 0;
  background-color: #2f3542;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f1f2f6;
}
.text-intro h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: -11px;
  letter-spacing: -1px;
}
.text-intro p {
  color: #7f8fa6;
  font-size: 1.55rem;
  font-weight: 300;
  text-align: center;
}
.text-intro hr {
  background-color: #ebbe1e;
  border: 2px solid #ebbe1e;
  width: 275px;
  height:2px;
  margin: 25px auto;
}
/* TEXT INTRO END */

/* ABOUT SECTION START */
.about {
  display:flex;
  width: 100vw;
  justify-content: center;
  position: relative;
  overflow:hidden;
}
.about .geo img {
  height:650px;
  width:400px;
  opacity: .5;
}
.about #left, .about #right {
  position: absolute;
  top: -35%;
}
.about #left {
  left:0;
  transform: rotate(80deg);
}
.about #right {
  right:0;
  transform: rotate(-80deg);
}
/* ABOUT-LEFT */
.about-left {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-left .intro {
  text-align: center;
}
.bar {
  width: 525px;
  height: 18px;
  background-color: #7f8fa6;
  margin-top: 2.75px;
  margin-bottom: 13px;
  border-radius: 5px;
}
.bar-div p {
  letter-spacing:1.5px;
}
.intro p {
  color: #7f8fa6;
  font-size: 1.35rem;
  font-weight: 300;
}
.intro h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-top: -8px;
  margin-bottom: 25px;
}
.outer {
  padding-top: 70px;
  margin-left: 7%;
}
.bar .progress {
  height:100%;
  border-radius: 5px;
  background-color: #ebbe1e;
  /* animation-duration: 1.3s;
  animation-delay: 2.65s;
  animation-timing-function: ease;
  animation-fill-mode: forwards; */
}
.react {width: 85%;}
.html {width: 85%;}
.css {width: 85%;}
.js {width: 85%;}
.python {width: 70%;}
.flutter {width: 65%;}
/* ABOUT SECTION END */

/* GEO PATTERN START */
.pattern {
  height: 40vh;
  width: 100%;
  margin-bottom: 15px;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 20%,
              rgba(255,255,255,1)), url('../img/pattern.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .085;
  position: relative;
}
.pattern .fa-angle-double-down {
  position: absolute;
  font-size: 2.5rem;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  opacity: 1;
}
/* GEO PATTERN END */

/* NOTE START */
.note {
  color: #7f8fa6;
  font-size: 1.15rem;
  font-weight: 300;
  text-align: center;
  margin: 4%;
}
.note #stars {
  font-weight: 800;
  color: #d63031;
  font-size: 1.65rem;
}
.note #bold {
  font-weight: 600;
  color: #7f8fa6;
}
/* NOTE END */

/* PROJECT SECTION START */
.projects {
  width:100%;
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  /* margin-left: 6%; */
}
/* CARD */
.projects .site {
  height: auto;
  width:590px;
  position: relative;
  cursor: pointer;
  margin: 50px;
}
.projects .site img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.projects .site .title {
  position: absolute;
  top: -55px;
  left: -20px;
  padding: 15px 22.5px;
  /* background-color: #2f3542; */
  color: #2f3542;
  font-weight: 300;
  z-index: 300;
  display:flex;
  font-size: 1.35rem;
}
.projects .site .title span {
  font-weight: 800;
}
.projects .site .title i {
  color: #171a20;
  font-size: 1.35rem;
  margin-left: 15px;
  transition: .2s color ease;
}
.projects .site .title .fa-github, .projects .site .title .fa-laptop {
  font-size: 1.65rem;
}
.projects .site .view-div {
  display:flex;
  align-items: center;
  transition: .2s color;
  z-index: 1000;
}
.projects .site .view-div p {
  font-size: .9rem;
  margin-left: 10px;
}
.projects .site .view-div:hover {
  color: #ebbe1e;
}
/* FOR DISABLED PROJECT VIEWS */
#disabled, #disabled:hover {
  color: gray;
}
/* OVERLAY */
.projects .site .overlay {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.projects .site .overlay::after {
  content:"";
  display: inline-block;
  position:absolute;
  background-color: #171a20;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:100;
  opacity: 0;
  transition: .2s opacity;
  overflow: hidden;
}
.projects .site:hover .overlay::after {
  opacity: .965;
}
/* .projects .site:hover .title p {
  transition: .375s color ease;
  color: #d85c5c;
} */
/* TEXT */
.projects .site .text {
  position: absolute;
  top:12.5%;
  left:5%;
  /* transform: translate(-50%,-50%); */
  color: white;
  z-index: 200;
  opacity: 0;
  transition: opacity .4s;
  font-weight: 200;
  width: 70%;
  font-weight: 300;
  font-size: 1.1rem;
  /* animation: .45s fadeInUp .5s; */
  /* animation-fill-mode: both; */
}
.projects .site .text .warning {
  color: #d85c5c;
  font-weight:300;
}
.projects .site .overlay .circle {
  position: absolute;
  height: 3%;
  width:0%;
  background-color: #ebbe1e;
  bottom:0%;
  left:0%;
  transition: width .35s;
  z-index: 400;
}
.projects .site:hover .circle {
  width: 100%;
}
@keyframes rotate{
  to{ 
    transform: rotate(360deg); 
  }
}
.projects .site .text span {
  font-weight: 800;
  color: #ebbe1e;
}
.projects .site .text .stack {
  letter-spacing: 1.5px;
  margin-top: 60px;
}

@keyframes transitionIn {
  0% {
    opacity: 0;
    transform: translateY(22px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes transitionOut {
  0% {
    opacity: 1;
    transform: translate(0);
  }
  100% {
    opacity: 0;
    transform: translateY(22.5px);
  }
}
/* PROJECT SECTION END */

/* FOOTER START */
.footer {
  width: 65%;
  margin: 15px auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #2f3542;
  /* padding-bottom:125px; */
}
.footer h1 {
  font-size: 5rem;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 25px 0;
}
.footer p {
  font-weight: 300;
  font-size: 1.225rem;
  letter-spacing: 1.5px;
}
.footer i {
  margin: 50px 0;
  font-size: 3.25rem;
  /* cursor: pointer; */
  transition: .25s color ease;
  color: #f9ca24;
}
.footer i:hover {
  color: #2f3542;
}
.footer .dark {
  font-weight: 600;
  letter-spacing: 0;
}
/* FOOTER END */

/* SPECIFIC MEDIA QUERY FOR OLDER LAPTOPS */
@media (max-height: 775px) and (min-width: 1301px) {
  .main-intro {
    left: 4%;
  }
  .main-intro h1 {
    font-size: 3.35rem;
  }
  .main-intro .para {
    font-size: 1.1rem;
    width: 37.5%;
  }
  .main-intro .cta {
    font-size: 1rem;
  }
  .text-intro h1 {
    font-size: 4rem;
  }
  .text-intro p {
    font-size: 1.25rem;
  }
  .text-intro hr {
    width: 300px;
  }
  .intro p {
    font-size: 1.15rem;
  }
  .intro h1 {
    font-size: 2.75rem;
  }
  .bar {
    width: 500px;
    height: 14px;
    margin-bottom: 14px;
  }
  .bar-div p {
    letter-spacing:1.5px;
  }
  .project {
    margin-bottom: 37.5px;
  }
  .project h1 {
    font-size: 2.35rem;
  }
  .project .project-title i {
    font-size: 2.35rem;
  }
  .project .row {
    margin-top: 28px;
  }
  .project .row .left-text {
    font-size: 1.05rem;
  }
  .project .row .right-text {
    width: 65%;
    font-size: 1.025rem;
  }
  .note {
    font-size: 1.025rem;
  }
  .note span {
    font-size: 1.2rem;
  }
  .project .project-cta {
    width: 100px;
  }
  .project .project-cta i {
    font-size: 1.9rem;
  }
  .project .project-cta p {
    font-size: .9rem;
  }
  .footer h1 {
    font-size: 4rem;
  }
  .footer p {
    font-size: 1.05rem;
  }
  .footer i {
    font-size: 2.8rem;
  }
}

/* MEDIA QUERIES */
@media (min-width: 1999px) {
  .main-intro .name {
    font-size: 1.25rem;
  }
  .main-intro h1 {
    font-size: 5.5rem;
  }
  .main-intro .para {
    font-size: 1.5rem;
  }
  .main-intro .cta {
    font-size: 1.35rem;
  }
  .main-img img {
    right: 6%;
  }
  .text-intro h1 {
    font-size: 5.85rem;
  }
  .text-intro p {
    font-size: 1.7rem;
  }
  .text-intro hr {
    width: 300px;
  }
  .intro p {
    font-size: 1.75rem;
  }
  .intro h1 {
    font-size: 3.85rem;
  }
  .footer h1 {
    font-size: 7rem;
  }
  .footer p {
    font-size: 1.5rem;
  }
  .footer i {
    font-size: 4rem;
  }
  .bar {
    width: 625px;
    height: 22px;
  }
  .bar-div p {
    font-size: 1.15rem;
  }
  #burg {
    font-size: 2.65rem;
  }
  .note {
    font-size: 1.4rem;
  }
  .note span {
    font-size: 1.7rem;
  }
  .projects .site {
    width:735px;
    margin: 75px;
  }
  .projects .site .title {
    top: -67px;
    left: -30px;
    padding: 17.5px 30px;
    font-size: 1.85rem;
  }
  .projects .site .title i {
    font-size: 1.7rem;
    margin-left: 20px;
  }
  .projects .site .title .fa-github, .projects .site .title .fa-laptop {
    font-size: 1.95rem;
  }
  .projects .site .title .view-div p {
    font-size: 1.25rem;
  }
  .projects .site .text {
    left:5%;
    width: 70%;
    font-size: 1.4rem;
  }
}
@media (max-width: 1525px) {
  .main-img img {
    right: -1%;
  }
  .main-intro {
    top: 41%;
    left: 5%;
  }
}
@media (max-width: 1300px) {
  .main-intro {
    left: 4%;
  }
  .main-intro h1 {
    font-size: 3.35rem;
  }
  .main-intro .para {
    font-size: 1.1rem;
    width: 37.5%;
  }
  .main-intro .cta {
    font-size: 1rem;
  }
  .text-intro h1 {
    font-size: 4rem;
  }
  .text-intro p {
    font-size: 1.25rem;
  }
  .text-intro hr {
    width: 300px;
  }
  .intro p {
    font-size: 1.15rem;
  }
  .intro h1 {
    font-size: 2.75rem;
  }
  .bar {
    width: 500px;
    height: 14px;
    margin-bottom: 14px;
  }
  .bar-div p {
    letter-spacing:1.5px;
  }
  .project {
    margin-bottom: 37.5px;
  }
  .project h1 {
    font-size: 2.35rem;
  }
  .project .project-title i {
    font-size: 2.35rem;
  }
  .project .row {
    margin-top: 28px;
  }
  .project .row .left-text {
    font-size: 1.05rem;
  }
  .project .row .right-text {
    width: 65%;
    font-size: 1.025rem;
  }
  .note {
    font-size: 1.025rem;
  }
  .note span {
    font-size: 1.2rem;
  }
  .project .project-cta {
    width: 100px;
  }
  .project .project-cta i {
    font-size: 1.9rem;
  }
  .project .project-cta p {
    font-size: .9rem;
  }
  .footer h1 {
    font-size: 4rem;
  }
  .footer p {
    font-size: 1.05rem;
  }
  .footer i {
    font-size: 2.8rem;
  }
}
@media (max-width: 1120px) {
  .main-intro {
    left: 3%;
    padding-left:0;
  }
  .main-img img {
    right: -5%;
  }
}
@media (max-width: 1000px) {
  .main-img img {
    z-index: 400;
  }
}
@media (max-width: 912px) {
  /* .back-text {
    display:none;
  } */
  .main-img img {
    display:none;
  }
  .mobile-img img {
    display:block;
  }
  .main-intro {
    top:30%;
  }
  .main-intro h1 {
    font-size: 3.8rem;
  }
  .main-intro .para {
    font-size: 1.2rem;
    width: 65%;
  }
  .main-intro .cta {
    font-size: 1.1rem;
  }
}
@media (max-width: 790px) {
  .mobile-logo {
    display:block;
  }
  .project {
    margin-bottom: 30px;
  }
  .project h1 {
    font-size: 2rem;
  }
  .project .project-title i {
    font-size: 2rem;
  }
  .project .row {
    margin-top: 22px;
  }
  .project .row .left-text {
    font-size: .95rem;
  }
  .project .row .right-text {
    width: 60%;
    font-size: .985rem;
  }
  .note {
    font-size: .985rem;
  }
  .note span {
    font-size: 1.1rem;
  }
  .project .project-cta {
    width: 80px;
  }
  .project .project-cta i {
    font-size: 1.75rem;
  }
  .project .project-cta p {
    font-size: .8rem;
  }
}
@media (max-width: 610px) {
  .main .fa-angle-double-down {
    font-size: 2.25rem;
    left: 48%;
  }
  .pattern {
    height: 25vh;
  }
  .mobile-img img {
    bottom:34%;
    right:-10%;
  }
  .main-intro {
    top: 38%;
  }
  .main-intro h1 {
    font-size: 3.15rem;
  }
  .main-intro .para {
    font-size: 1.2rem;
    width: 80%;
  }
  .text-intro {
    padding: 30px 0;
  }
  .text-intro h1 {
    font-size: 3rem;
  }
  .text-intro p {
    font-size: 1rem;
    margin-top: 8px;
  }
  .intro p {
    font-size: 1rem;
  }
  .intro h1 {
    font-size: 2.25rem;
    margin-top: 1px;
  }
  .bar {
    width: 375px;
    height: 12px;
  }
  .bar-div p {
    letter-spacing:1px;
  }
  .project {
    margin-bottom: 30px;
    width: 75%;
  }
  .project h1 {
    font-size: 1.65rem;
  }
  .project .project-title i {
    font-size: 1.65rem;
  }
  .project .row {
    margin-top: 27.5px;
  }
  .project .row .left-text {
    font-size: .96rem;
  }
  .project .row .right-text {
    width: 55%;
    font-size: .96rem;
    margin-left: 40px;
  }
  .note {
    font-size: .96rem;
    margin: 8%;
    margin-top: 4%;
  }
  .note span {
    font-size: 1.05rem;
  }
  .project .project-cta {
    width: 65px;
  }
  .project .project-cta i {
    font-size: 1.5rem;
  }
  .project .project-cta p {
    font-size: .75rem;
  }
  .footer h1 {
    font-size: 3.15rem;
    margin-bottom:3px;
  }
  .footer p {
    font-size: 1.05rem;
  }
  .footer i {
    font-size: 2.25rem;
  }
  .modal {
    width: 325px;
    height: 90px;
  }
  .modal .content #thanks {
    font-size: .9rem;
  }
  .modal .content #email {
    font-size: .75rem;
  }
  .projects .site {
    width:485px;
    margin: 45px;
  }
  .projects .site .title {
    top: -50px;
    left: -23px;
    font-size: 1.35rem;
  }
  .projects .site .title i {
    font-size: 1.45rem;
    margin-left: 15px;
  }
  .projects .site .title .fa-github {
    font-size: 1.64rem;
  }
  .projects .site .text {
    top:12.5%;
    left:5%;
    width: 72%;
    font-size: 1rem;
  }
}
@media (max-width: 550px) {
  #burg {
    right: 6%;
    font-size: 1.35rem;
  }
  .footer {
    width: 85%;
  }
  .main-intro h1 {
    font-size: 2.9rem;
  }
  .main-intro .para {
    font-size: 1.1rem;
    width: 85%;
  }
  .text-intro hr {
    margin: 10px auto;
    height:.1px;
    width: 235px;
  }
  .projects .site {
    width:400px;
    margin: 35px;
    margin-bottom: 50px;
  }
  .projects .site .title {
    top: -45px;
    left: -23px;
    font-size: 1.1rem;
  }
  .projects .site .title i {
    font-size: 1.25rem;
    margin-left: 11px;
  }
  .projects .site .title .fa-github {
    font-size: 1.525rem;
    margin-top: -3px;
  }
  .projects .site .text {
    top:12.5%;
    left:5%;
    width: 80%;
    font-size: .9rem;
  }
  .projects .site .text .stack {
    margin-top: 20px;
  }
}
@media (max-width: 420px) {
  .pattern {
    height: 20vh;
  }
  .mobile-img img {
    bottom:34%;
    right:-21%;
  }
  .main-intro {
    left: 4%;
    top: 38%;
  }
  .cta .left {
    margin-right: 5px;
  }
  .cta .middle {
    margin: 0 5px;
  }
  .cta .right {
    margin-left: 5px;
  }
  .main-intro h1 {
    font-size: 2.15rem;
  }
  .main-intro .name {
    font-size: 1rem;
    margin-bottom: 6px;
  }
  .main-intro .para {
    font-size: .95rem;
    margin-top: 20px;
    width: 82.5%;
    color: #414f64;
  }
  .text-intro h1 {
    font-size: 2.9rem;
  }
  .text-intro p {
    font-size: .85rem;
    margin-top: 8px;
  }
  .main-intro .cta {
    font-size: .95rem;
  }
  .intro p {
    font-size: 1rem;
  }
  .intro h1 {
    font-size: 2.175rem;
    margin-top: -5px;
  }
  .bar {
    width: 275px;
    height: 12px;
    margin-bottom: 8.5px;
  }
  .bar-div p {
    letter-spacing:1px;
    font-size: .85rem;
  }
  .note {
    font-size: .925rem;
  }
  .note span {
    font-size: 1rem;
  }
  .footer {
    width: 70%;
  }
  .footer h1 {
    font-size: 3rem;
  }
  .footer p {
    font-size: 1rem;
  }
  .footer i {
    font-size: 2.5rem;
  }
  .modal {
    width: 290px;
    height: 85px;
    padding: 0px;
  }
  .modal .content #thanks {
    font-size: .8rem;
  }
  .modal .content #email {
    font-size: .65rem;
  }
  .projects .site {
    width:345px;
    margin: 27.5px;
    margin-bottom: 45px;
  }
  .projects .site .title {
    top: -45px;
    left: -23px;
    font-size: 1rem;
    width: 100%;
  }
  .projects .site .title i {
    font-size: 1.05rem;
    margin-left: 12px;
  }
  .projects .site .title .fa-github {
    font-size: 1.4rem;
  }
  .projects .site .text {
    top:12%;
    left:4.25%;
    width: 85%;
    font-size: .8rem;
  }

}
@media (max-width: 401px) {
  .mobile-img img {
    right:-27%;
  }
  .projects .site {
    width:305px;
    margin: 25px;
  }
  .projects .site .title {
    top: -39px;
    font-size: .9rem;
  }
  .projects .site .title i {
    font-size: .95rem;
  }
  .projects .site .title .fa-github {
    font-size: 1.2rem;
    margin-top: -2px;
  }
  .projects .site .text {
    top:10%;
    left:4%;
    width: 93%;
    font-size: .725rem;
  }
}
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(22.5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}